.package__details{display: flex;justify-content: space-between;flex-direction: column;height: calc(100vh - 108px);}
.package__details h1{font-size: 17px;margin-top: 20px;}
.package__details .main__image{width: 100%;height: 210px;border-radius: 15px;object-fit: cover;margin-top: 10px;}
.package__details .note{color: #F47A00;font-size: 12px;margin-top: 10px;display: flex;align-items: center;gap: 5px;}
.package__details .alert__image{width: 12px;height: 12px;object-fit: contain;}
.package__details .amount_to_pay{display: flex;align-items: center;justify-content: space-between;font-size: 16px;color: #1C1A32;}
.package__details .amount_to_pay .amount{font-size: 20px;}
.package__details .payNow{width: 100%;padding: 10px 20px;text-align: center;border: unset;background-color: #226D96;border-radius: 5px;color: white;}

.popup{padding: 20px 10px;background-color: white;width: 100%;right: 0;left: 0; position: absolute;border-top-left-radius: 10px;border-top-right-radius: 10px;bottom: 0; transition: 0.25s ease-in-out all;visibility: hidden;opacity: 0;}
.popup.active{visibility: visible;opacity: 1;}
/* .popup.active::after{position: absolute;top: 0;left: 0;bottom: 0;right: 0;width: 100%;height: 100%;content: '';background-color: #1C1A32;} */
.popup .cancelBtn{position: absolute;right: 10px;top: 10px;font-size: 15px;color: #D32127;border: unset;background-color: unset;}
.popup .checkboxImg{text-align: center;}
.code__box{display: flex;padding: 10px 15px;border: 1px solid #dee2e6;display: flex;align-items: center;justify-content: space-between;}
.use__code p:nth-child(1){font-size: 18px;}
.use__code p:nth-child(2){font-size: 15px;}
.code__box p{font-size: 22px;}
.drop__layer{position: absolute;transition: 0.25s ease-in-out all; content: ''; height: 100%;width: 100%;left: 0;right: 0;bottom: 0;top: 0;background-color: rgba(113, 113, 113, 1);opacity: 0;visibility: hidden;}
.drop__layer.active{visibility: visible;opacity: 1;}